<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="css/styles.css" />

    <title>Document</title>
</head>

<body>
    {{>header}}
    <p>This site was created by Marcos Silva. It uses data from mapbox.com and darksky.net</p>
    <img class="portrait" src="img/1_Ic_Mg_tvQ5NFt_IFOMG5uA.png" alt="" />
    {{>footer}}
</body>

</html>